extends ../newLayoutPrincipal
block content
  .signup__container
    .container__child.signup__form(style='height:500px;overflow: scroll;')
      #changeThis(style='display:none;')
        div(class="alert alert-"+message.status) #{message.msg}
      .circularText
        div
          each val, i in data
            ul.list-group.list-group-flush
              li.list-group-item= 'Filename : '+val.fileName
              li.list-group-item= 'Grade : '+val.grade 
            .input-group-append
              a.input-group-text.delete(id=val._id, href='#') Delete
              a.input-group-text(href='/uploads/circulars/'+val.fileName, download='') Download
        .input-group-append
          a.input-group-text(href='/circulars/upload') Upload New Circular
          a.input-group-text(href='/principal') Go Back
  script.
    $(document).ready(function(){
      $.ajax({
        type:'GET',
        url:'/circulars/getmsg',
        success:function(data){
          if(data.message.status!=''){
            $('#changeThis').css({
              display:"block"
            });
            $.ajax({
              type:"GET",
              url:"/circulars/msgs/reset"
            });
          }
        }
      });
    
      $('.delete').on('click',function(){
        $.ajax({
          type:'DELETE',
          url:'/circulars/delete/'+this.id,
          success:function(){
            location.reload();
          }
        });
      });
    });
