extends ../newLayout
block content
  .signup__container
    .container__child.signup__form
      .circularText
        div
          each val, i in data
            ul.list-group.list-group-flush
              li.list-group-item= 'Filename : '+val.fileName
              li.list-group-item= 'Filename : '+val.grade 
            .input-group-append
              a.input-group-text.delete(id=val._id, href='#') Delete
              a.input-group-text(href='/uploads/circulars/'+val.fileName, download='') Download
        .input-group-append
          a.input-group-text(href='/principal/circulars/upload') Upload New Circular
          a.input-group-text(href='/principal/') Go Back
  script.
    $(document).ready(function(){
      $('.delete').on('click',function(){
        alert(this.id);
        $.ajax({
          type:'DELETE',
          url:'/principal/circulars/delete/'+this.id,
          success:function(){
            location.reload();
          }
        });
      });
    });
