extends ../newLayout
block content
  .signup__container
    .container__child.signup__form
      .list-group
      a.list-group-item.list-group-item-action(href='/principal/circulars/upload') Upload New Circular
      a.list-group-item.list-group-item-action(href='/principal/circulars/view-previous') View Previous Circulars
      a.list-group-item.list-group-item-action(href='/principal') Go Back
