extends ../newLayoutPrincipal
block content
  .signup__container
    .container__child.signup__form
      .circularText
        ul.list-group
          each val, i in data
            li.list-group-item
              a(href='/leaves/leaveDetails/'+val._id)=val.teacherName+' '+val.dateOfCommencingLeave+' to '+ val.dateOfResumingLeave
        .list-group
          a.list-group-item.list-group-item-action(href='/') Go Back
