extends ../newLayout
block content
  .form-group
    ul.list-group
      li.list-group-item
        a(href='/principal/circulars') Circulars
      li.list-group-item
        a(href='/principal/leaveApps') Leave Applications
      li.list-group-item
        a(href='/principal/schemes') Scheme
      li.list-group-item
        a(href='#') Time Table
      li.list-group-item
        a(href='#') Exam Time Table
