extends ../newLayout
block content
  .form-group
    ul.list-group
      li.list-group-item
        a(href='/circulars') Circulars
      li.list-group-item
        a(href='/leaves/leaveApps') Leave Applications
      li.list-group-item
        a(href='/schemes/view') Scheme
      li.list-group-item
        a(href='#') Time Table
      li.list-group-item
        a(href='#') Exam Time Table
