extends ../newLayout
block content
  .signup__container
    .container__child.signup__form(style='height:330px;')
      .list-group
        a.list-group-item.list-group-item-action(href='/circulars') Circulars
        a.list-group-item.list-group-item-action(href='/leaves/leaveApps') Leave Applications
        a.list-group-item.list-group-item-action(href='/schemes/view') Scheme
        a.list-group-item.list-group-item-action(href='#') Time Table
        a.list-group-item.list-group-item-action(href='#') Exam Time Table
