extends ./newLayoutTeacher

block content
    h2 Payments
    form(method='post', action='/payment/add')
      table
        tr
          td  Student name
          td
            | :  
            input(type='text', name='student', placeholder='eg:John Doe',required='true')
        tr
          td
            | Description
          td
            | : 
            input(type='text', name='description', placeholder='Payment details',required='true')
        tr
          td
            | Amount
          td
            | : 
            input(type='number', name='amount', placeholder='Rs:',required='true')
        tr
        tr
          td
            input(type='submit', value='Submit')
