extends ./newLayoutPrincipal

block content
    h1 Timetable
    form(method='post', action='/timetable/add')
      #container.col
        table(style='width:100%')
          tr
            td  Class
            td
              | :  
              input(type='text', name='class', placeholder='eg:12D')
      
          tr
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
          tr
            td
              input(type='text', name='monday_first', required='true')
            td
              input(type='text', name='tuesday_first', required='true')
            td
              input(type='text', name='wednesday_first', required='true')
            td
              input(type='text', name='thursday_first', required='true')
            td
              input(type='text', name='friday_first', required='true')
          tr
            td
              input(type='text', name='monday_second', required='true')
            td
              input(type='text', name='tuesday_second', required='true')
            td
              input(type='text', name='wednesday_second', required='true')
            td
              input(type='text', name='thursday_second', required='true')
            td
              input(type='text', name='friday_second', required='true')
          tr
            td
              input(type='text', name='monday_third', required='true')
            td
              input(type='text', name='tuesday_third', required='true')
            td
              input(type='text', name='wednesday_third', required='true')
            td
              input(type='text', name='thursday_third', required='true')
            td
              input(type='text', name='friday_third', required='true')
          tr
            td
              input(type='text', name='monday_fourth', required='true')
            td
              input(type='text', name='tuesday_fourth', required='true')
            td
              input(type='text', name='wednesday_fourth', required='true')
            td
              input(type='text', name='thursday_fourth', required='true')
            td
              input(type='text', name='friday_fourth', required='true')
          tr
            td
          tr
            td
              input(type='text', name='monday_fifth', required='true')
            td
              input(type='text', name='tuesday_fifth', required='true')
            td
              input(type='text', name='wednesday_fifth', required='true')
            td
              input(type='text', name='thursday_fifth', required='true')
            td
              input(type='text', name='friday_fifth', required='true')
          tr
            td
              input(type='text', name='monday_sixth', required='true')
            td
              input(type='text', name='tuesday_sixth', required='true')
            td
              input(type='text', name='wednesday_sixth', required='true')
            td
              input(type='text', name='thursday_sixth', required='true')
            td
              input(type='text', name='friday_sixth', required='true')
          tr
            td
              input(type='text', name='monday_seventh', required='true')
            td
              input(type='text', name='tuesday_seventh', required='true')
            td
              input(type='text', name='wednesday_seventh', required='true')
            td
              input(type='text', name='thursday_seventh', required='true')
            td
              input(type='text', name='friday_seventh', required='true')
          tr
            td
              input(type='text', name='monday_eighth', required='true')
            td
              input(type='text', name='tuesday_eighth', required='true')
            td
              input(type='text', name='wednesday_eighth', required='true')
            td
              input(type='text', name='thursday_eighth', required='true')
            td
              input(type='text', name='friday_eighth', required='true')
          tr
            td
              input(type='submit', value='Submit')
      
