html
  head
    title knowledgebase
    link(rel = "stylesheet" href = "/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel = "stylesheet" href = "/css/style.css")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') KnowledgeBase
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/assignments/add') Add Assignments
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    .container
      != messages('message', locals)
      h1= assignment.title
      h5= assignment.author
      h4= assignment.body
      hr
      a.btn.btn-default(href= '/assignments/edit/'+assignment._id) Edit
      a.btn.btn-danger.delete-assignment(href='#',data-id=assignment._id) Delete

      br
      hr
      footer
        p Copyright &copy; 2018
    script(src = '/bower_components/jquery/dist/jquery.js')
    script(src = '/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src = '/js/main.js')
