extends ./index
block content
  .container(style = "width = 750px")
    .signup__container
      //.container__child.signup__thumbnail
      //  .signup__overlay
      .container__child.signup__form
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        form(method='POST', action='/users/adduser')
          .form-group
            label(for='username') Username
            input.form-control(type='text', name='username', placeholder='james.bond', required='')
          .form-group
            label(for='email') Email
            input.form-control(type='text', name='email', placeholder='james.bond@spectre.com', required='')
                      
