extends layout
block content
  h1 #{title}
  form(method = 'POST', action= '/assignments/edit/'+assignment._id)
    #form-group
      label Title:
      input.form-control(name = 'title', type = 'text', value = assignment.title)
    #form-group
      label Author:
      input.form-control(name = 'author', type = 'text', value = assignment.author)
    #form-group
      label Body:
      textarea.form-control(name = 'body')= assignment.body
    br
    input.btn.btn-primary(type = 'submit', value = 'Submit')
