html
  head
    title SchoolSystem
    //meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    //script(src='index_data/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d5.js')
    //script(src='index_data/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9.js')
    //meta(charset='UTF-8')
    //meta(name='robots', content='noindex')
    //link(rel='shortcut icon', type='image/x-icon', href='https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico')
    //link(rel='mask-icon', type='', href='https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg', color='#111')
    //link(rel='canonical', href='https://codepen.io/trhino/pen/wBpcI')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/icon-font.min.css')
    //link(rel='stylesheet prefetch', href='js/normalize.css')
    //script(src='index_data/prefixfree.js')
    //link(rel = "stylesheet" href = "/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='/css/background.css')
    link(rel='stylesheet', href= '/css/menu_navigator.css')
    link(rel='stylesheet', href= '/css/logout.css')  
    
  body(style = "background: -webkit-linear-gradient(left, #404040, #FFCC00);background: linear-gradient(to right, #404040, #FFCC00)")
    input#hamburger.hamburger(checked="checked", type="checkbox")
    label.hamburger(for="hamburger")
      i
      |   
      text
        close close
        |       
        open menu
    |   
    nav.primnav
      ul
        li
          a(title="Dashboard", href="/")
            i.fa.fa-home
              use(xlink:href="#icon-th-large")
            |  Home
        |
        li
          a(title="Dashboard", href="/assignments/mine")
            i.fa.fa-th-large
              use(xlink:href="#icon-th-large")
            |  Dashboard
        |       
        li
          a(title="Mail", href="#mail")
            i.fa.fa-book
              use(xlink:href="#")
            | Subject
            |           
            .tag 53
          |         
          ul.secnav
            li
              a(title="Inbox", href="#inbox") Inbox
            |           
            li
              a(title="Sent", href="#sent") Sent
        |       
        li
          a(title="Notifications", href="#notifications")
            svg.icon
              use(xlink:href="#icon-bell2")
            |  Notifications
            |           
            
        |       
        li
          a(title="System Administration", href="#sysadmin")
            svg.icon
              use(xlink:href="#icon-equalizer")
            |  System Administration
          |         
          ul.secnav
            li
              a(title="Users", href="#users") Users
            |           
            li
              a(title="Lists", href="#lists") Lists
            |           
            li
              a(title="Calendar", href="#calendar") Calendar

    
    section
      user#user
        section
          img(src='/images/userpic/Emma Watson.jpg')
          section
            name Emma Watson
            actions
              a(href='#settings') settings
              |  
              a(href='/users/logout') logout
              
    #particles-js(ng-class="{'blur-view': showModal, 'particles-semi-transparent': viewIsCreationsOrPress}" style = "height:150%")
      canvas.particles-js-canvas-el(style='width: 100%; height: 200%;', width='1910', height='2007')
    #title.ng-scope
      br
      br
      br
      br
      br
      .container
        //!= messages('message',locals)
        block content  
                    

    // ngView:
    .ng-scope(ng-view='', ng-class="{'blur-view': showPlayerView || showModal || showQuoteView}", style='')
      .introduction.ng-scope

    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/js/radio_button.js')                
    script(src='/js/particles.min.js.download')
    //script(src='/js/stats.min.js.download')
    script(src='/js/background.js')
    //script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
    script(src='/js/jquery.js')
    script(src='/js/background.js')
      
