html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //script(src='/css/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js.download')
    //script(src='/css/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js.download')
    meta(name='robots', content='noindex')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/icon-font.min.css')
    link(rel = "stylesheet" href = "/css/registration.css")
    link(rel = "stylesheet" href = "/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href= '/css/logout.css')
    link(rel='stylesheet', href='/css/background.css')
    link(rel='stylesheet', href= '/css/menu.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    section
      user#user
        section
          img(src='/images/userpic/Emma Watson.jpg')
          section
            name Emma Watson
            actions
              a(href='#settings') settings
              |  
              a(href='/users/logout') logout
    // particles.js container
    #particles-js
      canvas.particles-js-canvas-el
    #titles.ng-scope
      br
      br
      br
      br
      br
      .container
        != messages('message',locals)
        block content
      
      nav#mainnav(role='navigation')
        ul
          li.invisible
            a(href='#')
              i.fa.fa-home
              span Home
          li.invisible
            a(href='#')
              i.fa.fa-th-large
              span Dashboard
          li.invisible
            a(href='#')
              i.fa.fa-book
              span Subjects
          li.invisible
            a(href='#')
              i.fa.fa-smile-o
              span About Me
          li.invisible
            a(href='#')
              i.fa.fa-bell
              span Notification
          li.invisible
            a(href='#')
              i.fa.fa-envelope
              span Messaging
          li
            a(href='#')
              i.fa.fa-bars
      
    
                    
    script(src = '/bower_components/jquery/dist/jquery.js')
    script(src = '/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/particles.min.js.download')
    //script(src='/js/stats.min.js.download')
    script(src='/js/background.js')
    script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
    script(src='/js/jquery.js')
    script(src='/js/navigator.js')
    div(style='position: absolute; top: 0px; left: 0px; cursor: pointer; opacity: 0.9; z-index: 10000;')
    canvas(width='80', height='48', style='width: 80px; height: 48px; display: block;')
    canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
    canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
    
