.midpan{
  margin: auto;
  padding: 10px;
  width: 70%;
  background-size: auto;
  background-color: #ffffff;
}

.circularText{
  color: #000000;
}
.blackText{
  color: #000000;
  font-weight: bold;
}
