extends ../newLayoutTeacherExtended
block content
  br 
  br
  br
  .signup__container(style = "margin-top:100px;")
    //.container__child.signup__thumbnail
    //  .signup__overlay
    .container__child.signup__form
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      form(method='POST', action='/assignments/add')
        .form-group
          label(for='title') Tittle
          input.form-control(type='text', name='title', placeholder='james.bond', required='')
        .form-group
          label(for='due_date') Due_Date
          span.k-widget.k-datepicker.k-header.form-control(style = "font-family: 'Roboto', sans-serif; color :#fff")
            span.k-picker-wrap.k-state-default
              input#field3.form-control.k-input(name= 'due_date', type="date", data-role="date", role="textbox", aria-haspopup="true", aria-expanded="false", aria-owns="field3_dateview", aria-disabled="false", aria-readonly="false", aria-label="Current focused date is null", data-error-container="#errfield3", style="width: 100%;", required="required", data-parsley-errors-container="#errId3")
              span.k-select(unselectable="on", role="button", aria-controls="field3_dateview")

            span#errId3.error
        .form-group
          label(for='marks_allocated') Marks Allocated
          input.form-control(type='text', name='marks_allocated', placeholder='marks', required='')
        .form-group
          label(for='assignment_type') Assignment Type
          input.form-control(type='text', name='assignment_type', placeholder='Qiuz/Homework/Exercise', required='')
        .form-group
          label(for='has_to_upload_a_file') Has to Upload a File
          .btn-group.btn-group-toggle(data-toggle='buttons')
            label.btn(style="margin-left:5em").btn-secondary
              input#option1(type='radio', name='has_to_upload_a_file', value='1', autocomplete='off')
              | Yes
            label.btn.btn-secondary
              input#option2(type='radio', name='has_to_upload_a_file', value='2', autocomplete='off')
              | No  
        .form-group
          label(for='body_assignment') Assignment Details
          textarea.form-control(name = 'body_assignment', placeholder='Assignment details',rows='8',  required  = '')
        .m-t-lg
          ul.list-inline
            li
              input.btn.btn--form(type='submit', value='Add Assignment')
