html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //script(src='/css/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js.download')
    //script(src='/css/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js.download')
    meta(name='robots', content='noindex')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/icon-font.min.css')
    link(rel='stylesheet', href= '/css/table_assignment.css')
    link(rel='stylesheet', href= '/css/logout.css')
    link(rel='stylesheet', href= '/css/modal.css')
    link(rel='stylesheet', href= '/css/main.css')
    link(rel='stylesheet', href='/css/background.css')
    link(rel='stylesheet', href= '/css/menu.css')
    link(rel='stylesheet', href= '/css/btn_add_assignment.css')

  body
    // particles.js container
    header
      nav#mainnav(role='navigation')
        ul
          li.invisible
            a(href='#')
              i.fa.fa-home
              span Home
          li.invisible
            a(href='#')
              i.fa.fa-th-large
              span Dashboard
          li.invisible
            a(href='#')
              i.fa.fa-book
              span Subjects
          li.invisible
            a(href='#')
              i.fa.fa-smile-o
              span About Me
          li.invisible
            a(href='#')
              i.fa.fa-bell
              span Notification
          li.invisible
            a(href='#')
              i.fa.fa-envelope
              span Messaging
          li
            a(href='#')
              i.fa.fa-bars
      
    section(style = 'margin=10px')
      user#user
        section
          img(src='/images/userpic/Emma Watson.jpg')
          section(style = 'margin=10px')
            name Emma Watson
            actions
              a(href='#settings') settings
              |  
              a(href='/users/logout') logout
        br
        br
        br
        br


    #particles-js(ng-class="{'blur-view': showModal, 'particles-semi-transparent': viewIsCreationsOrPress}")
      canvas.particles-js-canvas-el(style='width: 100%; height: 100%;', width='1910', height='2007')
    // ngView:
    .ng-scope(ng-view='', ng-class="{'blur-view': showPlayerView || showModal || showQuoteView}", style='')
      .introduction.ng-scope
    #titles(style = "top:15%;width:60% ; margin-left : 360px").ng-scope
      // <canvas id="canvas" class="title-animated" ng-show="loaded"></canvas>

      #table_info
        .tbl-header
          table(cellpadding='0', cellspacing='0', border='0')
            thead
              tr
                th Submisions
        .tbl-content(style = "height: 550px")
          table(cellpadding='0', cellspacing='0', border='0')
            tbody
              each submission, i in submissions
                tr
                  td
                    a(href="/assignments/submission_mark/"+submission._id style= "color:#fff; text-decoration: none; font-size: 1.5em" )= submission.student_name
                  if submission.marks_given !== null
                    td
                      a(href="/assignments/submission_mark/"+submission._id style= "color:#fff; text-decoration: none; font-size: 1.5em" )= submission.marks_given
                  else
                    td
                      a(href="/assignments/submission_mark/"+submission._id style= "color:#fff; text-decoration: none; font-size: 1.5em" ) Not marked 
                
                    
    script(src='/js/particles.min.js.download')
    //script(src='/js/stats.min.js.download')
    script(src='/js/background.js')
    script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
    script(src='/js/jquery.js')
    script(src='/js/navigator.js')
    div(style='position: absolute; top: 0px; left: 0px; cursor: pointer; opacity: 0.9; z-index: 10000;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: block;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
