extends ../newLayout
block content
  .signup__container
    .container__child.signup__form(style='height:500px;overflow: scroll;')
      #changeThis(style='display:none;')
        div(class="alert alert-"+message.status) #{message.msg}
      .form-group
        .circularText
          .list-group
            each val, i in data
              ul.list-group.list-group-flush
                li.list-group-item=' Leave Date : '+val.dateOfCommencingLeave
                li.list-group-item=' Approval : '+val.approved
              br
              form
                .m-t-lg
                  ul.list-inline
                    input.delete.btn.btn--form(type='button', id=val._id, value='Delete')
            form(action='/leaves/applyLeave')
              .m-t-lg
                ul.list-inline
                  input.btn.btn--form(type='submit', value='Apply New Leave')
            form(action='/teacher')
              .m-t-lg
                ul.list-inline
                  input.btn.btn--form(type='submit', value='Go Back')
            
  script.
    $(document).ready(function(){
      $.ajax({
        type:'GET',
        url:'/leaves/getmsg',
        success:function(data){
          if(data.message.status!=''){
            $('#changeThis').css({
              display:"block"
            });
            $.ajax({
              type:"GET",
              url:"/leaves/msgs/reset"
            });
          }
        }
      });
      $('.delete').on('click',function(){
          $.ajax({
              type:'DELETE',
              url:'/leaves/leaveApp/delete/'+this.id,
              success:function(){
                location.reload();
              }
            });
          });
        });
