extends ../newLayout
block content
  .signup__container
    .container__child.signup__form
      #changeThis(style='display:none;')
        div(class="alert alert-"+message.status) #{message.msg}
      .list-group
        a.list-group-item.list-group-item-action(href='/schemes/schemes/upload') Upload New Scheme
        a.list-group-item.list-group-item-action(href='/schemes/view-previous') View Previous Schemes
        a.list-group-item.list-group-item-action(href='/teacher') Go Back

  script.
    $(document).ready(function(){
      $.ajax({
        type:'GET',
        url:'/schemes/getmsg',
        success:function(data){
          if(data.message.status!=''){
            $('#changeThis').css({
              display:"block"
            });
            $.ajax({
              type:"GET",
              url:"/schemes/msgs/reset"
            });
          }
        }
      });
    });
