extends ../newLayout
block content

  .list-group
    a.list-group-item.list-group-item-action(href='/teacher/schemes/upload') Upload New Scheme
    a.list-group-item.list-group-item-action(href='/teacher/schemes/view-previous') View Previous Schemes
    a.list-group-item.list-group-item-action(href='/teacher') Go Back
