extends ../newLayout
block content
  .signup__container
    .container__child.signup__form
      .circularText
        div
          each val,i in data
            ul.list-group.list-group-flush
              li.list-group-item= 'Filename : '+val.fileName
              li.list-group-item= 'Year : '+val.year
              li.list-group-item= 'Grade : '+val.grade 
            br
            .input-group-append
              form(action='/teacher/scheme/'+i)
                .m-t-lg
                  ul.list-inline
                    input.btn.btn--form(type='submit', value='Edit')
              .m-t-lg
                ul.list-inline
                  button.delete.btn.btn--form(id=val._id) Delete
              .m-t-lg
                ul.list-inline
                  a.btn.btn--form(href='/uploads/schemes/'+val.fileName, download='') Download
        form(action='/teacher/schemes')
          .m-t-lg
            ul.list-inline
              input.btn.btn--form(type='submit', value='Go Back')
  script.
    $(document).ready(function(){
      $('.delete').on('click',function(){
        $.ajax({
          type:'DELETE',
          url:'/teacher/schemes/delete/'+this.id,
          success:function(){
            location.reload();
          }
        });
      });
    });
