html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //script(src='/css/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js.download')
    //script(src='/css/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js.download')
    meta(name='robots', content='noindex')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/icon-font.min.css')
    link(rel='stylesheet', href= '/css/table_assignment.css')
    link(rel='stylesheet', href= '/css/modal.css')
    link(rel = "stylesheet" href = "/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href= '/css/submission.css')
    link(rel='stylesheet', href= '/css/submission_style.css')
    link(rel='stylesheet', href= '/css/submission_btn.css')
    link(rel='stylesheet', href= '/css/normalize.css')
    link(rel='stylesheet', href= '/css/main.css')
    link(rel='stylesheet', href= '/css/logout.css')
    link(rel='stylesheet', href='/css/background_new.css')
    link(rel='stylesheet', href= '/css/menu.css')
    link(rel='stylesheet', href= '/css/clock.css')
    link(rel='stylesheet', href= '/css/registration.css')
    script(type='text/javascript', async='', src='/js/ga.js.download')
    script(src='/js/modernizr.custom.js.download')
    //script(src='/js/clock.js')
  body
    // particles.js container
    script(type="text/javascript", language="JavaScript").
      initializeClock('clockdiv', new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000));
    header
      nav#mainnav(role='navigation')
        ul
          li.invisible
            a(href='#')
              i.fa.fa-home
              span Home
          li.invisible
            a(href='#')
              i.fa.fa-th-large
              span Dashboard
          li.invisible
            a(href='#')
              i.fa.fa-book
              span Subjects
          li.invisible
            a(href='#')
              i.fa.fa-smile-o
              span About Me
          li.invisible
            a(href='#')
              i.fa.fa-bell
              span Notification
          li.invisible
            a(href='#')
              i.fa.fa-envelope
              span Messaging
          li
            a(href='#')
              i.fa.fa-bars
      
    section(style = 'margin=10px')
      user#user
        section
          img(src='/images/userpic/Emma Watson.jpg')
          section(style = 'margin=10px')
            name Emma Watson
            actions
              a(href='#settings') settings
              |  
              a(href='#logout') logout
        br
        br
        br
        br


    #particles-js(ng-class="{'blur-view': showModal, 'particles-semi-transparent': viewIsCreationsOrPress}", style = "height : 150%")
      canvas.particles-js-canvas-el(style='width: 100%; height: 200%;', width='1910', height='3000')
    // ngView:
    .ng-scope(ng-view='', ng-class="{'blur-view': showPlayerView || showModal || showQuoteView}", style='')
      .introduction.ng-scope
    #titles(style = "top:5%;width : 100%").ng-scope
      h1(style = "margin-left:70px")= assignment.title
    #titles(style = "top:15%;width: 80%;margin-left:150px").ng-scope
      .tbl-content(style = "height:200px")
        table(cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1.25em")= assignment.body_assignment
  
    #titles(style = "top:55%;width: 80%;margin-left:150px").ng-scope
      .tbl-content(style = "height:200px")
        table(cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1.25em")= submission.assignment_submission

    #titles(style = "top:110%;width:100%").ng-scope
      // <canvas id="canvas" class="title-animated" ng-show="loaded"></canvas>
      .signup__container
        //.container__child.signup__thumbnail
        //  .signup__overlay
        .container__child.signup__form
          form(method='POST', action='/assignments/add')
            .form-group
              label(for='marks_allocated') Marks Allocated
              input.form-control(type='text', name='marks_allocated', placeholder='marks', required='')
            .form-group
              label(for='body_assignment') Comments
              textarea.form-control(name = 'body_assignment', placeholder='Assignment details',rows='4',  required  = '')
        
                    
    script(src='/js/particles.min.js.download')
    //script(src='/js/stats.min.js.download')
    script(src='/js/background.js')
    //script(src='/js/clock.js')
    script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
    script(src='/js/jquery.js')
    script(src='/js/classie.js.download')
    script(src='/js/uiMorphingButton_fixed.js.download')
    script(src='/js/submission.js')
    script(src='/js/navigator.js')
    div(style='position: absolute; top: 0px; left: 0px; cursor: pointer; opacity: 0.9; z-index: 10000;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: block;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
