extends ../newLayout
block content
  ul.list-group
    li.list-group-item
      a(href='/teacher/circulars') Circulars
    li.list-group-item
      a(href='/teacher/leaveMenu') Leave Applications
    li.list-group-item
      a(href='/teacher/schemes') Schemes
    li.list-group-item
      a(href='#') Time Table
    li.list-group-item
      a(href='#') Exam Time Table
