extends ../newLayout
block content
  .signup__container
    .container__child.signup__form
      ul.list-group
        li.list-group-item
          a(href='/circulars/circulars') Circulars
        li.list-group-item
          a(href='/leaves/leaveMenu') Leave Applications
        li.list-group-item
          a(href='/schemes/schemes') Schemes
        li.list-group-item
          a(href='#') Time Table
        li.list-group-item
          a(href='#') Exam Time Table
