extends ../newLayout
block content
  .signup__container
    .container__child.signup__form(style='height:570px;')
      .list-group
        a.list-group-item.list-group-item-action(href='#') Attendance
        a.list-group-item.list-group-item-action(href='#') Record Book
        a.list-group-item.list-group-item-action(href='#') Assignments
        a.list-group-item.list-group-item-action(href='#') Share Materials
        a.list-group-item.list-group-item-action(href='#') Payments
        a.list-group-item.list-group-item-action(href='/circulars/circulars') Circulars
        a.list-group-item.list-group-item-action(href='/leaves/leaveMenu') Leave Applications
        a.list-group-item.list-group-item-action(href='/schemes/schemes') Schemes
        a.list-group-item.list-group-item-action(href='#') Time Table
        a.list-group-item.list-group-item-action(href='#') Exam Time Table
