extends ../newLayoutTeacher
block content
  .signup__container
    .container__child.signup__form
      .form-group
        form(method='POST', action='/marks/add')
          .form-group
            label(for='StudentID') StudentID:
            input.form-control(type='text', name='StudentID', placeholder='add StudentID here', required='')
          .form-group
            label(for='Subject1') Subject 1:
            input.form-control(type='text', name='Subject1', placeholder='Subject 1', required='')
          .form-group
            label(for='Marks1') Marks 1:
            input.form-control(type='text', name='Marks1', placeholder='marks', required='')
          .form-group
            label(for='Subject2') Subject 2:
            input.form-control(type='text', name='Subject2', placeholder='Subject 2', required='')
          .form-group
            label(for='Marks2') Marks 2:
            input.form-control(type='text', name='Marks2', placeholder='marks', required='')
          .form-group
            label(for='Subject3') Subject 3:
            input.form-control(type='text', name='Subject3', placeholder='Subject 3', required='')
          .form-group
            label(for='Marks1') Marks 3:
            input.form-control(type='text', name='Marks3', placeholder='marks', required='')
            ul.list-inline
              li
                input.btn.btn--form(type='submit', value='submit')

  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/js/radio_button.js')                
  script(src='/js/particles.min.js.download')
  script(src='/js/stats.min.js.download')
  script(src='/js/background.js')
  script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
  script(src='/js/jquery.js')
  script(src='/js/background.js')
